.footer-area {
    background-color: #121212;
    height: 105px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0px 0px 20px
}
.footer-icon {
    width: 30px;
    height: 30px;
    margin: 0px 15px 0px 15px
}
.footer-area p {
    color: rgba(214, 214, 214, 0.5);
    font-size: 12px;
    margin: 30px 0px 5px 35px;
}